.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-self: start; */
  align-content: center;
  flex-wrap: wrap;
  align-items: center;


}

.input{
 
  display:flex;
  flex-direction:column;
 
}
